*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
node_modules
chectl-v*.tgz
coverage
.vscode
bin/chectl-*
tsconfig.tsbuildinfo
# k8s templates are added at post-install step
templates/kubernetes
templates/che-operator
